################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################
bin
obj
/src/.vs/RabbitMQ
*.user
/src/RabbitMQ.Mongo
.sarif
