################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/src/IIAB.RabbitMQ.Shared/obj
/src/IIAB.RabbitMQ.Shared.Tests/obj
/src/RabbitMQ.Publisher/obj
/src/RabbitMQ.Subscriber/obj
/src/.vs/RabbitMQ
*.user
